html,
body {
    background-color: #f6f6f6;
    /*background-image: url('../images/bg.png');*/
}

.navbar-custom {
    background-color: #ffffff;
    border-color: #3498db;
}

.navbar-custom .navbar-brand {
    color: #000000 !important;
}

.navbar-inverse .navbar-nav>li>a,
.navbar-inverse .navbar-nav>li>a:hover {
    color: #000000;
}

.landing-panel {
    background-color: #ffffff;
}

.btn-custom {
    background-color: #3498db;
    color: #ffffff;
}

.btn-custom:hover {
    background-color: #3498db;
    color: #000000;
}

.alert-color {
    color: #db3333;
}

.shadow-box {
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
}

div[class^='bubbleChart'], div[class*='bubbleChart'] {
    background-color: #ffffff;
    padding: 5px;
}

div[class^='BarChart'], div[class*='BarChart'] {
    background-color: #ffffff;
}

.white-bg {
    background-color: #ffffff;
}

.navbar-inverse .navbar-toggle .icon-bar {
    background-color: #000000;
}

.navbar-inverse .navbar-toggle:hover {
    background-color: #ffffff;
}

.calendar {
    background-color: #ffffff;
}

#loaderDiv {
    background-color: #ffffff;
}

.error-border {
    border-color: #d9534f;
}

.flat-info {
    background-color: #9358ac;
    color: #ffffff;
}

.bar-info {
    fill: #9358ac;
}

.flat-success {
    background-color: #81c04d;
    color: #ffffff;
}

.bar-success {
    fill: #81c04d;
}

.flat-danger {
    background-color: #ef553a;
    color: #ffffff;
}

.bar-danger {
    fill: #ef553a;
}