<div class="vertical-center input-page">
    <div class="container">
        <div class="landing-panel horizontal-center input-panel shadow-box">
             <span class="title-text">Enter Monthly Budget</span>
                <chosen-date date-chosen="bc.dateChosen"
                             expense-date="bc.budgetDate"
                             get-expense-validation="bc.getBudgetValidation"
                             get-expense-records="bc.getBudgetRecords(expenseDate)"
                             no-day=true>
                </chosen-date>
                <budget-records date-chosen="bc.dateChosen" 
                                get-budget-validation="bc.getBudgetValidation" 
                                expense-fields="bc.expenseFields" 
                                budget-records="bc.budgetRecords"
                                save-budget="bc.saveBudget(budgetRecords)"
                                budget-saved-res="bc.budgetSavedRes">
                </budget-records>
        </div>
    </div>
</div>