<div class="container-fluid">
    <div class="row">
        <div class="col-lg-4">
            <div class="shadow-box">
                <flat-value flat-class="flat-info"
                            title-text='Yearly'
                            flat-data="yearlyBubble">
                </flat-value>
            </div>
            <br>
            <div class="shadow-box">
                <bubble-chart bubble-no='1'
                              bubble-data="yearlyBubble"
                              bubble-colors="bubbleColors">
                </bubble-chart>
                <div class="bubbleChart1"></div>
            </div>
            <br>
            <div class="shadow-box"
                 data-ng-if="barData.yearly.length > 0">
                <bar-chart bar-data='barData'
                           bar-color-class='barColorClass'>
                </bar-chart>
                <div class="yearlyBarChart"></div>
            </div>
            <br>
        </div>
        <div class="col-lg-4">
            <div class="shadow-box">
                <flat-value flat-class="flat-success"
                            title-text='Monthly'
                            flat-data="monthlyBubble">
                </flat-value>
            </div>
            <br>
            <div class="shadow-box">
                <bubble-chart bubble-no='2'
                              bubble-data="monthlyBubble"
                              bubble-colors="bubbleColors">
                </bubble-chart>
                <div class="bubbleChart2"></div>
            </div>
            <br>
            <div class="shadow-box"
                 data-ng-if="barData.yearly.length > 0">
                <bar-chart bar-data='barData'
                           bar-color-class='barColorClass'>
                </bar-chart>
                <div class="monthlyBarChart"></div>
            </div>
            <br>
        </div>
        <!-- <div class="col-lg-3">
            <bubble-chart bubble-no='3'
                          title-text='Weekly'>
            </bubble-chart>
            <div class="bubbleChart3"></div>
        </div> -->
        <div class="col-lg-4">
            <div class="shadow-box">
                <flat-value flat-class="flat-danger"
                            title-text='Daily'
                            flat-data="dailyBubble">
                </flat-value>
            </div>
            <br>
            <div class="shadow-box">
                <bubble-chart bubble-no='4'
                              bubble-data="dailyBubble"
                              bubble-colors="bubbleColors">
                </bubble-chart>
                <div class="bubbleChart4"></div>
            </div>
            <br>
            <div class="shadow-box"
                 data-ng-if="barData.yearly.length > 0">
                <bar-chart bar-data='barData'
                           bar-color-class='barColorClass'>
                </bar-chart>
                <div class="dailyBarChart"></div>
            </div>
            <br>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="shadow-box">
                <invoices invoices-data="invoices">
                </invoices>
            </div>
        </div>
        <!-- <div class="col-lg-6">
            <calendar>
            </calendar>
        </div> -->
    </div>
</div>