<div class="container-fluid">
    <chosen-date is-dashboard="true" 
                 expense-date="dc.expenseDate"
                 get-expense-validation="dc.getExpenseValidation"
                 get-expense-records="dc.getExpenseRecords(expenseDate)">
    </chosen-date>
    <div class="row alert-block"
         data-ng-if="dc.budgetExceed.length > 0">
        <div class="col-sm-12">
            <strong>The following expenses are exceeding the budget by:</strong>
            <div data-ng-repeat="bud in dc.budgetExceed | uppercase"
                 class="text-uppercase">
                {{bud.expenseType}}: {{bud.amount}}
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-lg-4">
            <div class="shadow-box">
                <flat-value flat-class="flat-info"
                            title-text='Yearly'
                            flat-data="dc.yearlyBubble"
                            flat-data-earnings="dc.yearlyBubbleEarnings">
                </flat-value>
            </div>
            <br>
            <div class="shadow-box">
                <div class="white-bg title-text">
                    Yearly Spendings
                </div>
                <bubble-chart bubble-no='1'
                              bubble-data="dc.yearlyBubble"
                              bubble-colors="dc.bubbleColors">
                </bubble-chart>
                <div class="bubbleChart1"></div>
                <bubble-legend bubble-no='1'
                               bubble-data="dc.yearlyBubble"
                               bubble-colors="dc.bubbleColors">
                </bubble-legend>
            </div>
            <br>
            <div class="shadow-box"
                 data-ng-if="dc.barData.yearly.length > 0">
                <bar-chart bar-data='dc.barData'
                           bar-color-class='dc.barColorClass'>
                </bar-chart>
                <div class="yearlyBarChart"></div>
            </div>
            <br>
        </div>
        <div class="col-lg-4">
            <div class="shadow-box">
                <flat-value flat-class="flat-success"
                            title-text='Monthly'
                            flat-data="dc.monthlyBubble"
                            flat-data-earnings="dc.monthlyBubbleEarnings">
                </flat-value>
            </div>
            <br>
            <div class="shadow-box">
                <div class="white-bg title-text">
                    Monthly Spendings
                </div>
                <bubble-chart bubble-no='2'
                              bubble-data="dc.monthlyBubble"
                              bubble-colors="dc.bubbleColors">
                </bubble-chart>
                <div class="bubbleChart2"></div>
                <bubble-legend bubble-no='2'
                               bubble-data="dc.monthlyBubble"
                               bubble-colors="dc.bubbleColors">
                </bubble-legend>
            </div>
            <br>
            <div class="shadow-box"
                 data-ng-if="dc.barData.yearly.length > 0">
                <bar-chart bar-data='dc.barData'
                           bar-color-class='dc.barColorClass'>
                </bar-chart>
                <div class="monthlyBarChart"></div>
            </div>
            <br>
        </div>
        <!-- <div class="col-lg-3">
            <bubble-chart bubble-no='3'
                          title-text='Weekly'>
            </bubble-chart>
            <div class="bubbleChart3"></div>
        </div> -->
        <div class="col-lg-4">
            <div class="shadow-box">
                <flat-value flat-class="flat-danger"
                            title-text='Daily'
                            flat-data="dc.dailyBubble"
                            flat-data-earnings="dc.dailyBubbleEarnings">
                </flat-value>
            </div>
            <br>
            <div class="shadow-box">
                <div class="white-bg title-text">
                    Daily Spendings
                </div>
                <bubble-chart bubble-no='4'
                              bubble-data="dc.dailyBubble"
                              bubble-colors="dc.bubbleColors">
                </bubble-chart>
                <div class="bubbleChart4"></div>
                <bubble-legend bubble-no='4'
                               bubble-data="dc.dailyBubble"
                               bubble-colors="dc.bubbleColors">
                </bubble-legend>
            </div>
            <br>
            <div class="shadow-box"
                 data-ng-if="dc.barData.yearly.length > 0">
                <bar-chart bar-data='dc.barData'
                           bar-color-class='dc.barColorClass'>
                </bar-chart>
                <div class="dailyBarChart"></div>
            </div>
            <br>
        </div>
    </div>
    <!-- <div class="row">
        <div class="col-lg-12">
            <div class="shadow-box">
                <invoices invoices-data="invoices">
                </invoices>
            </div>
        </div>
        <div class="col-lg-6">
            <calendar>
            </calendar>
        </div>
    </div> -->
    <div class="row">
        <div class="col-lg-12">
            <calendar event-sources="dc.calendarExpenses">
            </calendar>
        </div>
    </div>
</div>