<div class="vertical-center input-page">
    <div class="container">
        <div class="landing-panel horizontal-center input-panel shadow-box">
             <span class="title-text">Enter Expenses</span>
             <form novalidate>
                <chosen-date date-chosen="dateChosen"
                             expense-date="expenseDate"
                             get-expense-validation="getExpenseValidation"
                             get-expense-records="getExpenseRecords(expenseDate)">
                </chosen-date>
                <expense-records date-chosen="dateChosen" 
                                 get-expense-validation="getExpenseValidation"
                                 expense-fields="expenseFields" 
                                 spending-fields="spendingFields" 
                                 expenses-records="expensesRecords"
                                 save-expenses="saveExpenses(expensesRecords)"
                                 expenses-saved-res="expensesSavedRes">
                </expense-records>

            </form>
        </div>
    </div>
</div>