<div class="vertical-center input-page"
     data-ng-controller="registerController">
    <div class="container">
        <div class="landing-panel horizontal-center input-panel">
             <span class="title-text">Enter Expenses</span>
             <form novalidate>{{expenses.date}}
              
                <chosen-date></chosen-date>
                <expense-records></expense-records>
                 
                 
              <button type="submit" 
                      class="btn btn-default btn-custom"
                      data-ng-click="saveExpenses(expenses)">
                  Submit
              </button>
            </form>
        </div>
    </div>
</div>