<nav class="navbar navbar-inverse navbar-fixed-bottom navbar-custom visible-lg">
	<div class="container-fluid">
		<div class="navbar-header">
			<a class="navbar-brand">
				<iframe src="https://www.facebook.com/plugins/like.php?href=https%3A%2F%2Ffacebook.com%2Fbigjappsmoneymanager%2F&width=450&layout=standard&action=like&size=small&show_faces=false&share=true&height=35" 
						width="450" 
						height="35" 
						style="border:none;overflow:hidden" 
						scrolling="no" 
						frameborder="0" 
						allowTransparency="true">
				</iframe>
			</a>
		</div>
		<ul class="nav navbar-nav navbar-right">
			<li>
				<a>
					{{recentPost}}
				</a>
			</li>
		</ul>
	</div>
</nav>