<div class="form-group">
  <div class="row">
    <div class="col-sm-12">
      <select data-ng-options="item as item.name for item in cdc.expenseYears track by item.id"
              class="form-control tight-combo"
              data-ng-model="cdc.expenseDate.year"
              data-ng-change="cdc.disableRecords()">                   
      </select>
      <select data-ng-options="item as item.name for item in cdc.expenseMonths track by item.id"
              class="form-control tight-combo"
              data-ng-model="cdc.expenseDate.month"
              data-ng-change="cdc.disableRecords()">              
      </select>
      <select data-ng-options="item as item.name for item in cdc.expenseDays track by item.id"
              class="form-control tight-combo"
              data-ng-model="cdc.expenseDate.day"
              data-ng-change="cdc.disableRecords()"
              data-ng-if="!cdc.noDay">
      </select>
      <button type="button" 
              class="btn btn-default btn-custom btn-md"
              data-ng-click="cdc.getRecords(cdc.expenseDate)">
        GO <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
      </button>
    </div>
  </div>
</div>
<div data-ng-if="cdc.getExpenseValidation && cdc.getExpenseValidation.validDate == false"
     class="bg-danger">
     Invalid Date
</div>