<div class="form-group">
                <div class="row">
                  <div class="col-xs-2">
                    YYYY
                  </div>
                  <div class="col-xs-1">
                    MM
                  </div>
                  <div class="col-xs-1">
                    DD
                  </div>
                  <div class="col-xs-6">
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-2">
                    <input type="number" 
                           class="form-control" 
                           data-ng-model="expenses.year"
                           maxlength="4"
                           size="4"
                           placeholder="YYYY">
                  </div>
                  <div class="col-xs-1">
                    <input type="number" 
                           class="form-control" 
                           data-ng-model="expenses.month"
                           maxlength="2"
                           size="2"
                           placeholder="MM">
                  </div>
                  <div class="col-xs-1">
                    <input type="number" 
                           class="form-control" 
                           data-ng-model="expenses.day"
                           maxlength="2"
                           size="2"
                           placeholder="DD">
                  </div>
                  <div class="col-xs-1">
                    <button type="button" class="btn btn-default btn-custom btn-md">
                      GO <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
                    </button>
                  </div>
                  <div class="col-xs-5">
                  </div>
                </div>
              </div>