<div class="table-responsive">          
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Expense Type</th>
                            <th>Spending Type</th>
                            <th>Amount</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                          <tr data-ng-repeat="record in expenseRecords track by $index">
                            <td>{{$index + 1}}</td>
                            <td>
                                <select class="form-control"
                                        data-ng-model="expenseRecords[$index].expenseType"
                                        data-ng-change="addNewRow($index)">
                                    <option data-ng-repeat="expenseField in expenseFields"
                                            value="{{expenseField.sl}}">
                                        {{expenseField.type | uppercase}}
                                    </option>
                                </select>
                            </td>
                            <td>
                                <select class="form-control"
                                        data-ng-model="expenseRecords[$index].spendingsType"
                                        data-ng-change="addNewRow($index)">
                                    <option data-ng-repeat="spendingField in spendingFields"
                                            value="{{spendingField.sl}}">
                                        {{spendingField.type | uppercase}}
                                    </option>
                                </select>
                            </td>
                            <td>
                                <input type="number" 
                                       class="form-control" 
                                       data-ng-model="expenseRecords[$index].amount"
                                       data-ng-change="addNewRow($index)">
                            </td>
                            <td>
                              <span class="glyphicon glyphicon-trash alert-color"
                                      data-ng-click="deleteRow($index)"
                                      data-ng-if="expenseRecords.length - 1 != $index">
                              </span>
                            </td>
                          </tr>
                        </tbody>
                    </table>
                </div>