<div class="title-text {{flatClass}} text-center">
    {{titleText}}<br>
    <h5>
    	<table class="bubbleLegend text-left">
    		<tr>
    			<td>Earnings</td>
    			<td class="text-right">{{flatDataEarnings.total + 0 | number:2}}</td>
    		</tr>
    		<tr>
    			<td>Spendings</td>
    			<td class="text-right">{{flatData.total + 0 | number:2}}</td>
    		</tr>
    		<tr>
    			<td>Remainings</td>
    			<td class="text-right">{{flatDataEarnings.total - flatData.total + 0 | number:2}}</td>
    		</tr>
    	</table>
    </h5>
</div>