<div class="vertical-center"
      data-ng-controller ="forgotPasswordPanelController">
    <div class="container">
        <div class="landing-panel horizontal-center">
             <span class="title-text">Retrieve your password</span>
             <div data-ng-if="returnObj.existingUser==1">
                An email is sent
             </div>
             
             <div data-ng-if="forgotClicked==1 && returnObj.existingUser==0 ">
                An email is not existing
             </div>

             <form role="form" 
                   novalidate 
                   data-ng-if="forgotClicked!=1"
                   > 
              <div class="form-group">
                <label for="email">Email address:</label>
                <input  type="text" 
                        class="form-control" 
                        id="email" 
                        data-ng-model="user.email">
              </div>
              <button type="button" 
                      class="btn btn-default"
                      data-ng-click="forgotPassword(user)">Retrieve</button>


              
            </form>
             <button type="button" 
                      class="btn btn-default"
                     data-ng-if="forgotClicked==1" 
                     data-ng-click="retry()">Retry</button>
            <a ui-sref="login">Existing User?</a>
              <a ui-sref="register">New User?</a>
        </div>
    </div>
</div>