<div class="vertical-center"
      data-ng-controller ="forgotPasswordPanelController">
    <div class="container">
        <div class="landing-panel horizontal-center shadow-box">
             <span class="title-text">Retrieve your password</span>
             
             <form role="form" 
                   novalidate > 
              
              <div data-ng-if="returnObj.existingUser==1" class="bg-success ">
                An email is sent
              </div>           
             
              <div data-ng-if="returnObj.validAll==0 " class="bg-danger ">
                Invalid user
              </div>


              <div class="form-group">
                <label for="email">Email address:</label>
                <input  type="text" 
                        class="form-control" 
                        id="email" 
                        data-ng-model="user.email">
              </div>
              <button type="button" 
                      class="btn btn-default"
                      data-ng-click="forgotPassword(user)"
                      data-ng-disabled = "!user.email"
                      >Retrieve</button>
              <a ui-sref="login">Existing User?</a>
              <a ui-sref="register">New User?</a>          

              
            </form>

            
        </div>
    </div>
</div>